body {
  background-color: #BB4430;
  color: #231F20;
}

.jumbotron {
  background-color: #7EBDC2;
}

.jumbotron h1 {
  text-align: center;
  color: #231F20;
}

#result {
  display: none;
}

.col-md-6 {
  background-color: #F3DFA2;
  padding :50px;
}

.btn {
  background-color: #7EBDC2;
}

.btn:hover {
  background-color: #96E2E8;
}

.btn.reload {
  margin: 10px;
}
